langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.8
langchain-experimental==0.0.61
langchain-openai==0.1.13
langchain-postgres==0.0.6
langchain-text-splitters==0.2.1
langchainhub==0.1.15
langdetect==1.0.9
langgraph==0.0.69
langserve==0.2.1
langsmith==0.1.78
faiss-cpu==1.8.0
fastapi==0.111.0
fastapi-cli==0.0.4
feedparser==6.0.10
pypdf==4.2.0
pypdfium2==4.30.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
tiktoken==0.7.0
urllib3==1.26.19
uvicorn==0.30.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.41.2
wikipedia==1.4.0
wrapt==1.16.0
xlrd==2.0.1
XlsxWriter==3.2.0
yarl==1.9.4
yfinance==0.2.38
